<footer>
  <p>Site-ul apartine lui Florin Ionut Nacu</p>
  <address>
      <p>email: florin.nacu77@gmail.com</p>
      <p>Facebook: Florin Ionut Nacu</p>
      <p>Instagram: florin.nacu</p>
  </address>
  <a href="#" class="sus">SUS</a>
</footer>