<header>
  <h1>
      <img src="/resurse/imagini/logo_juve.png" alt="logo" title="Logo-ul actual al lui Juventus" class="logo_stanga" />
      Juventus Torino
      <img src="/resurse/imagini/logo_juve.png" alt="logo" title="Logo-ul actual al lui Juventus" class="logo_dreapta" />
  </h1>

  <h2 lang="it">"Fino alla fine"</h2>

  <nav>
      <ul>
          <li>
              <a href="/index">Acasa</a>
          </li>
          <li>
              <a href="/despre">Despre</a>
          </li>
          <li>
              <a href="/jucatori">Jucatori</a>
              <ul>
                  <li><a href="/Ronaldo">Ronaldo</a></li>
                  <li><a href="/Dybala">Dybala</a></li>
              </ul>
          </li>
          <li>
              <a href="/palmares">Palmares</a>
          </li>
          <li>
              <a href="/stadion">Stadion</a>
          </li>
          <li>
              <a href="/bilete">Bilete</a>
          </li>
      </ul>
  </nav>

  <aside>
      <h2>Urmatorul meci:</h2>
      <p>Juventus VS Udinese</p>
  </aside>
</header>