<html lang="ro" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Error</title>
    <meta charset="utf-8" />
  <body>
    <h1>Error 404!</h1>
    <p>This page can't be reached...</p>
  </body>
</html>