<!DOCTYPE html>

<html lang="ro" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Juventus - Despre</title>

        <meta charset="utf-8" />
        <meta name="keywords" content="Juventus, Torino, Italia, fotbal, prezentare, istorie, nume, bianconeri, Batrana Doamna" />
        <meta name="description" content="Informatii despre echipa de fotbal Juventus Torino" />
        <meta name="author" content="Florin Nacu" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" type="image/x-icon" href="/resurse/favicon/juvefavicon.ico" />
        <link rel="stylesheet" href="/resurse/css/generalStyle.css" type="text/css" />
        <link rel="stylesheet" href="/resurse/css/despreStyle.css" type="text/css" />
        <link rel="stylesheet" href="/resurse/css/meniuStyle.css" type="text/css" />
    </head>

    <body>
        <%- include("../fragmente/header") %>

        <main>
            <section>
                <h2>Prezentare generala</h2>
                <p>Juventus Torino este un club de fotbal profesionist cu sediul in Torino, Piemont, Italia. Clubul este al treilea cel mai vechi din tara, iar cea mai mare parte a istoriei sale, cu exceptia sezonului 2006-2007 a jucat in prima divizie italiana (cunoscuta sub numele de Serie A din 1929).</p>
                <p>Fondat in 1897 ca Sport Club Juventus de un grup de tineri studenti torinezi, printre care era si primul lor presedinte, Eugenio Canfari, si fratele sau Enrico; echipa condusa de familia industriasa Agnelli din 1923, acesta constituind cel mai vechi parteneriat sportiv din Italia, facand astfel Juventus primul club profesionist din tara.</p>
                <p>De-a lungul timpului, clubul a devenit un simbol pentru natiune, datorita traditiei lor de succes, dintre care unele au avut un impact semnificativ in societatea italiana, in special in 1930 si primul deceniu de dupa razboi; si politica ideologica si originea socio-economica a simpatizantilor clubului. Acest lucru se reflecta in contributia clubului la echipa nationala, neintrerupta din a doua jumatate a anilor 1920 si recunoscuta ca una dintre cele mai influente din fotbalul international, care a avut un rol decisiv in triumful la Campionatul Mondial din 1934, 1982 si 2006.</p>
                <p>Numarul de suporteri este mai mare decat al oricarui club de fotbal italian si unul dintre cele mai mari la nivel mondial. Sustinerea pentru Juventus este larg raspandita in intreaga tara si in strainatate, in special in tarile cu o prezenta semnificativa a imigrantilor italieni.</p>
            </section>

            <section>
                <h2>Istorie</h2>
                <section>
                    <h3>Fondarea</h3>
                    <p>Juventus a fost fondata sub numele Sport Club Juventus in 1897 de catre elevii liceului Massimo D'Azeglio din Torino, insa a fost redenumit Football Club Juventus doi ani mai tarziu. Bianconeri au luat nastere de la o idee a unor tineri de 14-17 ani. Cei 12 copii care au format Juventus sunt: Gioacchino Armano, Alfredo Armano, Enrico Canfari, Eugenio Canfari, Francesco Dapra, Domenico Donna, Carlo Ferrero, Luigi Forlano, Luigi Gibezzi, Umberto Malvano, Enrico Piero Molinatti, Umberto Savoia si Vittorio Varetti.</p>
                    <p>Clubul s-a alaturat Campionatului Italian in 1900 purtand tricouri roz si sorturi negre, echipamentul initial al echipei. Juventus a castigat primul campionat in 1905, perioada in care jucau pe stadionul Velodromo Umberto purtand un echipament cu dungi albe si negre, echipamentul pe care clubul il foloseste si in prezent.</p>
                    <p>In urma unor neintelegeri s-a produs o ruptura in clubul Juventus, o parte din staff dorea mutarea echipei in afara orasului Torino. Presedintele Alfredo Dick a fost nemultumit si astfel a luat decizia de a pleca si astfel a fondat un nou club, intitulat AC Torino.</p>
                </section>
                <hr />
                <section>
                    <h3>Numele</h3>
                    <ol class="cv">
                        <li>1897 - Sport Club Juventus</li>
                        <li>1899 - Foot-Ball Club Juventus</li>
                        <li>1936 - Juventus</li>
                        <li>1943 - Juventus-Cisitalia</li>
                        <li>1945 - Juventus Football Club</li>
                    </ol>
                </section>
                <hr />
                <section>
                    <h3>Dominatia din campionat</h3>
                    <p>Edoardo Agnelli, detinatorul Fiat, a ajuns conducatorul clubului din 1923. Acesta a contribuit la castigarea celui de-al doilea campionat in 1925-26, echipa invingand pe Alba Roma cu scorul final 12-1. Marcatorul principal al sezonului a fost Antonio Vojak. Anii 30 s-au dovedit a fi o perioada de glorie a clubului Juventus, acesta castigand 5 titluri consecutive din 1930 pana in 1935. Cele mai multe din ele au fost castigate atunci cand era antrenorul Carlo Carcano. Tot in aceasta perioada au activat la club jucatori ca: Raimundo Orsi, Luigi Bertolini, Giovanni Ferrari si Luis Monti.</p>
                    <p>Dupa aceasta Juventus a avut un nou stadion, Stadio Comunale, desi din 1935 pana in 1940 nu au reusit sa redevina echipa dominanta din Italia, necastigand niciun campionat in aceasta perioada. In 1958, Juve a devenit primul club din Italia care a castigat 10 titluri si a inceput sa poarte o stea pe emblema. In acelasi sezon Omar Sivori a devenit si primul jucator de la club care a reusit sa castige titlul de Cel mai bun jucator european al anului. In sezonul urmator Juventus a infrant Fiorentina si astfel a reusit prima dubla din istoria clubului castigand atat campionatul cat si cupa. Bonaperti s-a retras in 1961, devenind cel mai bun marcator al clubului cu 182 de goluri in toate competitiile, record care a ramas nedoborat timp de 45 de ani. In deceniul urmator, Juventus a castigat titlul doar o singura data in 1966-1967. Insa in anii 70 clubul torinez si-a consolidat statutul de mare putere a fotbalului italian castigand campionatul in sezoanele 1971-72 si 1972-73 cu jucatori ca Roberto Bettega, Franco Causio, Jose Altafini. De-a lungul deceniului au mai castigat campionatul de 2 ori.</p>
                </section>
                <hr />
                <section>
                    <h3> Stagiul european</h3>
                    <p>Perioada antrenoratului lui Giovanni Trapattoni a fost o perioada de succes, Batrana Doamna castigand titlul de 3 ori pana in 1984. Acesta a adus numarul de titluri nationale din palmaresul clubului la 20, clubul adaugandu-si inca o stea pe emblema, find singura echipa italiana care a realizat acest lucru.</p>
                    <p>In aceasta perioada jucatorii clubului au atras atentia pe scara internationala. Paolo Rossi a castigat titlul de Cel mai bun jucator european al anului si a devenit cunoscut ca principal artizan al titlului mondial obtinut de Italia in 1982. Francezul Michel Platini a castigat si el titlul de Cel mai bun jucator european al anului de 3 ori consecutiv intre 1983 si 1985. Juventus este singurul club al carui jucatori au obtinut acest titlu 4 ani la rand. Platini a inscris golul victoriei in Finala Cupei Campionilor Europeni in 1985 impotriva celor de la Liverpool F.C, insa victoria lui Juventus a fost umbrita de tragedia de pe Stadionul Heysel, dezastru in care au murit 39 de persoane.</p>
                    <p>Cu exceptia castigarii campionatului din sezonul 1985-86, restul anilor 80 nu au fost cu succes pentru clubul din Torino. In anul 1990 Juventus s-a mutat pe noul stadion, denumit Stadio dell Alpi. Acest stadion, cu aproape 68.000 de locuri a fost construit din cauza micsorarii capacitatii fostului stadion al echipei, dar si pentru Campionatul Mondial din 1990 organizat de Italia. Desi Juventus este una din cele mai populare echipe de club din Italia, ea detine totusi niste recorduri negative la capitolul audienta, inregistrand in cateva randuri niste numere de spectatori prezenti extrem de reduse (237, 399, 561).</p>
                </section>
            </section>

            <div>
                <h2>Explicatii</h2>
                <dl>
                    <dt>Bianconeri</dt>
                    <dd>Denumirea pe care italienii le-o ofera deseori jucatorilor dar si staff-ului echipei deoarece poarta tricourile de culaore alb - negru.</dd>
                    
                    <dt>Batrana doamna</dt>
                    <dd>Denumire consacrata in Romania pentru echipa de fotbal Juventus FC.</dd>
                
                    <dt>Stadionul Heysel</dt>
                    <dd>Stadionul de fotbal din Bruxelles, Belgia care a gazduit finala UCL din 1985.</dd>
                </dl>
            </div>
        </main>

        <%- include("../fragmente/footer") %>
    </body>
</html>
