<!DOCTYPE html>

<html lang="ro" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Juventus - Jucatori - Dybala</title>

    <meta charset="utf-8" />
    <meta name="keywords" content="Juventus, Torino, Italia, fotbal, Dybala, Paulo, post, Argentina, inaltime, goluri" />
    <meta name="description" content="Prezentarea jucatorului Paulo Dybala al echipei de fotbal Juventus Torino" />
    <meta name="author" content="Florin Nacu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/x-icon" href="/resurse/favicon/juvefavicon.ico" />
    <link rel="stylesheet" href="/resurse/css/generalStyle.css" type="text/css" />
    <link rel="stylesheet" href="/resurse/css/meniuStyle.css" type="text/css" />
    <link rel="stylesheet" href="/resurse/css/Ronaldo_DybalaStyle.css" type="text/css" />
</head>

<body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Golurile lui Dybala la Juventus</h2>
            <video controls>
                <source src="/resurse/video/Dybala_goals.mp4" type="video/mp4" />
                Browser-ul nu suporta videoclipul.
            </video>
        </section>

        <section>
            <h2>Informatii generale</h2>
            <p><b>Nume complet:</b> Paulo Bruno Dybala</p>
            <p><b>Data nasterii:</b> 15 noiembrie 1993 (25 de ani)</p>
            <p><b>Locul nasterii:</b> Laguna Larga, Cordoba, Argentina</p>
            <p><b>Inaltime:</b> 1.77m</p>
            <p><b>Greutate</b> 74kg</p>
            <p><b>Post:</b> Varf</p>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
</body>
</html>
