<!DOCTYPE html>

<html lang="ro" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Juventus</title>

        <meta charset="utf-8" />
        <meta name="keywords" content="Juventus, Torino, Italia, fotbal, logo, echipament, clasament, Serie A" />
        <meta name="description" content="Site-ul echipei de fotbal Juventus Torino" />
        <meta name="author" content="Florin Nacu" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" type="image/x-icon" href="/resurse/favicon/juvefavicon.ico" />
        <link rel="stylesheet" href="/resurse/css/generalStyle.css" type="text/css" />
        <link rel="stylesheet" href="/resurse/css/homeStyle.css" type="text/css" />
        <link rel="stylesheet" href="/resurse/css/tabelStyle.css" type="text/css" />
        <link rel="stylesheet" href="/resurse/css/meniuStyle.css" type="text/css" />
    </head>

    <body>
        <%- include("../fragmente/header") %>

        <main>
            <section>
                <h2>Echipamente 2019 - 2020</h2>

                    <figure class="echipament">
                        <img src="/resurse/imagini/kits/kit_home.png" alt="echipament" title="Echipamentul de acasa" />
                        <figcaption>Echipamentul de acasa</figcaption>
                    </figure>

                    <figure class="echipament">
                        <img src="/resurse/imagini/kits/kit_away.png" alt="echipament" title="Echipamentul de deplasare" />
                        <figcaption>Echipamentul de deplasare</figcaption>
                    </figure>

                    <figure class="echipament">
                        <img src="/resurse/imagini/kits/kit_third.png" alt="echipament" title="Echipamentul de rezerva" />
                        <figcaption>Echipamentul de rezerva</figcaption>
                    </figure>
            </section>

            <section>
                <h2>Logo-uri vechi</h2>

                    <figure class="logo">
                        <img src="/resurse/imagini/logos/logo_1905.png" alt="logo" title="Logo-ul lui Juventus in 1905" />
                        <figcaption>1905</figcaption>
                    </figure>

                    <figure class="logo">
                        <img src="/resurse/imagini/logos/logo_1929.png" alt="logo" title="Logo-ul lui Juventus in 1929" />
                        <figcaption>1929</figcaption>
                    </figure>

                    <figure class="logo">
                        <img src="/resurse/imagini/logos/logo_1931.png" alt="logo" title="Logo-ul lui Juventus in 1931" />
                        <figcaption>1931</figcaption>
                    </figure>

                    <figure class="logo">
                        <img src="/resurse/imagini/logos/logo_1940.png" alt="logo" title="Logo-ul lui Juventus in 1940" />
                        <figcaption>1940</figcaption>
                    </figure>
                
                    <figure class="logo">
                        <img src="/resurse/imagini/logos/logo_1971.png" alt="logo" title="Logo-ul lui Juventus in 1971" />
                        <figcaption>1971</figcaption>
                    </figure>

                    <figure class="logo">
                        <img src="/resurse/imagini/logos/logo_1979.png" alt="logo" title="Logo-ul lui Juventus in 1979" />
                        <figcaption>1979</figcaption>
                    </figure>

                    <figure class="logo">
                        <img src="/resurse/imagini/logos/logo_1990.png" alt="logo" title="Logo-ul lui Juventus in 1990" />
                        <figcaption>1990</figcaption>
                    </figure>

                    <figure class="logo">
                        <img src="/resurse/imagini/logos/logo_2004.png" alt="logo" title="Logo-ul lui Juventus in 2004" />
                        <figcaption>2004</figcaption>
                    </figure>
            </section>

            
                
                <table>
                    <caption>Clasament Serie A</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Echipa</th>
                            <th class="surplus">MJ</th>
                            <th class="surplus">G</th>
                            <th>P</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>Juventus</td>
                            <td class="surplus">12</td>
                            <td class="surplus">20:9</td>
                            <td>32</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Inter</td>
                            <td class="surplus">12</td>
                            <td class="surplus">26:12</td>
                            <td>31</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Lazio</td>
                            <td class="surplus">12</td>
                            <td class="surplus">28:13</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Cagliari</td>
                            <td class="surplus">12</td>
                            <td class="surplus">23:12</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>Atalanta</td>
                            <td class="surplus">12</td>
                            <td class="surplus">30:18</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>AS Roma</td>
                            <td class="surplus">12</td>
                            <td class="surplus">20:14</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>Napoli</td>
                            <td class="surplus">12</td>
                            <td class="surplus">21:15</td>
                            <td>19</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>Parma</td>
                            <td class="surplus">12</td>
                            <td class="surplus">18:15</td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>Fiorentina</td>
                            <td class="surplus">12</td>
                            <td class="surplus">18:19</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>Verona</td>
                            <td class="surplus">12</td>
                            <td class="surplus">10:11</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>Torino</td>
                            <td class="surplus">12</td>
                            <td class="surplus">15:17</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>Udinese</td>
                            <td class="surplus">12</td>
                            <td class="surplus">8:18</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>Sassuolo</td>
                            <td class="surplus">11</td>
                            <td class="surplus">21:21</td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>Milan</td>
                            <td class="surplus">12</td>
                            <td class="surplus">11:16</td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>Bolognia</td>
                            <td class="surplus">12</td>
                            <td class="surplus">16:20</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td>Lecce</td>
                            <td class="surplus">12</td>
                            <td class="surplus">15:25</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>17.</td>
                            <td>Genoa</td>
                            <td class="surplus">12</td>
                            <td class="surplus">14:26</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>18.</td>
                            <td>Sampdoria</td>
                            <td class="surplus">12</td>
                            <td class="surplus">7:19</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>19.</td>
                            <td>Spal</td>
                            <td class="surplus">12</td>
                            <td class="surplus">7:18</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>20.</td>
                            <td>Brescia</td>
                            <td class="surplus">11</td>
                            <td class="surplus">10:20</td>
                            <td>7</td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="5">Echipele de pe locurile 1, 2, 3, 4 se vor califica in Champions League</td>
                        </tr>
                        <tr>
                            <td colspan="5">Echipele de pe locurile 5, 6 se vor califica in Europa League</td>
                        </tr>
                        <tr>
                            <td colspan="5">Echipele de pe locurile 18, 19, 20 vor retrograda in Serie B</td>
                        </tr>
                    </tfoot>
                </table>
        </main>

        <%- include("../fragmente/footer") %>
    </body>
</html>
