<!DOCTYPE html>

<html lang="ro" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Inregistrare</title>

    <meta charset="utf-8" />
    <meta name="author" content="Florin Nacu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/resurse/favicon/juvefavicon.ico"
    />
    <link
      rel="stylesheet"
      href="/resurse/css/inregistrareStyle.css"
      type="text/css"
    />
  </head>

  <body>
    <div>
      <h1>Inregistrare</h1>
      <form method="post" class="date" enctype="multipart/form-data">
        <p>
          <label>
            Username: <input type="text" name="username" value="" />
          </label>
        </p>
        <p>
          <label> Nume: <input type="text" name="nume" value="" /> </label>
        </p>
        <p>
          <label>
            Parola: <input type="password" name="parola" value="" />
          </label>
        </p>
        <p>
          <input type="submit" value="Submit" />
        </p>
      </form>
    </div>
  </body>
</html>
