<!DOCTYPE html>

<html lang="ro" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Juventus - Jucatori</title>

        <meta charset="utf-8" />
        <meta name="keywords" content="Juventus, Torino, Italia, fotbal, echipa, jucator, cota, pozitie, Ronaldo, Dybala" />
        <meta name="description" content="Jucatorii echipei de fotbal Juventus Torino" />
        <meta name="author" content="Florin Nacu" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" type="image/x-icon" href="/resurse/favicon/juvefavicon.ico" />
        <link rel="stylesheet" href="/resurse/css/generalStyle.css" type="text/css" />
        <link rel="stylesheet" href="/resurse/css/jucatoriStyle.css" type="text/css" />
        <link rel="stylesheet" href="/resurse/css/meniuStyle.css" type="text/css" />
    </head>
    <body>
        <%- include("../fragmente/header") %>

        <main>
                <table>
                    <caption>Jucatori</caption>
                    <thead>
                        <tr>
                            <th class="surplus">#</th>
                            <th colspan="2">Jucator</th>
                            <th>Varsta</th>
                            <th>Cota</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Portari-->
                        <tr>
                            <td class="surplus" rowspan="2">1</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Szczesny.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>W. Szczesny</td>
                            <td rowspan="2">29</td>
                            <td rowspan="2">35,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Portar</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">37</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Perin.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>M. Perin</td>
                            <td rowspan="2">27</td>
                            <td rowspan="2">10,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Portar</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">77</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Buffon.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>G. Buffon</td>
                            <td rowspan="2">41</td>
                            <td rowspan="2">1,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Portar</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">31</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Pinsoglio.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>C. Pinsoglio</td>
                            <td rowspan="2">29</td>
                            <td rowspan="2">0,50 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Portar</td>
                        </tr>

                        <!--Fundasi-->
                        <tr>
                            <td class="surplus" rowspan="2">4</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Ligt.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>M. de Ligt</td>
                            <td rowspan="2">20</td>
                            <td rowspan="2">75,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Fundas Central</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">19</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Bonucci.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>L. Bonucci</td>
                            <td rowspan="2">32</td>
                            <td rowspan="2">28,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Fundas Central</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">24</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Rugani.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>D. Rugani</td>
                            <td rowspan="2">25</td>
                            <td rowspan="2">22,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Fundas Central</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">28</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Demiral.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>M. Demiral</td>
                            <td rowspan="2">21</td>
                            <td rowspan="2">15,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Fundas Central</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">3</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Chiellini.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>G. Chiellini</td>
                            <td rowspan="2">35</td>
                            <td rowspan="2">7,50 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Fundas Central</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">12</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Sandro.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>A. Sandro</td>
                            <td rowspan="2">28</td>
                            <td rowspan="2">45,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Fundas Stanga</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">13</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Danilo.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>Danilo</td>
                            <td rowspan="2">28</td>
                            <td rowspan="2">20,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Fundas Dreapta</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">2</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Sciglio.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>M. de Sciglio</td>
                            <td rowspan="2">27</td>
                            <td rowspan="2">14,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Fundas Dreapta</td>
                        </tr>

                        <!--Mijlocas-->
                        <tr>
                            <td class="surplus" rowspan="2">23</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Can.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>E. Can</td>
                            <td rowspan="2">25</td>
                            <td rowspan="2">33,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Mijlocas Defensiv</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">5</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Pjanic.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>M. Pjanic</td>
                            <td rowspan="2">29</td>
                            <td rowspan="2">70,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Mijlocas Central</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">8</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Ramsey.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>A. Ramsey</td>
                            <td rowspan="2">28</td>
                            <td rowspan="2">40,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Mijlocas Central</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">25</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Rabiot.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>A. Rabiot</td>
                            <td rowspan="2">24</td>
                            <td rowspan="2">35,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Mijlocas Central</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">30</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Bentancur.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>R. Bentancur</td>
                            <td rowspan="2">22</td>
                            <td rowspan="2">35,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Mijlocas Central</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">14</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Matuidi.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>B. Matuidi</td>
                            <td rowspan="2">32</td>
                            <td rowspan="2">22,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Mijlocas Central</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">6</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Khedira.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>S. Khedira</td>
                            <td rowspan="2">32</td>
                            <td rowspan="2">8,50 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Mijlocas Central</td>
                        </tr>

                        <!--Atacanti-->
                        <tr>
                            <td class="surplus" rowspan="2">7</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Ronaldo.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>C. Ronaldo</td>
                            <td rowspan="2">34</td>
                            <td rowspan="2">90,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Aripa Stanga</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">15</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Pjaca.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>M. Pjaca</td>
                            <td rowspan="2">24</td>
                            <td rowspan="2">10,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Aripa Stanga</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">33</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Bernardeschi.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>F. Bernardeschi</td>
                            <td rowspan="2">25</td>
                            <td rowspan="2">45,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Aripa Dreapta</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">11</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Costa.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>D. Costa</td>
                            <td rowspan="2">29</td>
                            <td rowspan="2">38,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Aripa Dreapta</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">16</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Cuadrado.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>J. Cuadrado</td>
                            <td rowspan="2">31</td>
                            <td rowspan="2">18,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Aripa Dreapta</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">10</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Dybala.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>P. Dybala</td>
                            <td rowspan="2">25</td>
                            <td rowspan="2">75,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Atacant</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">21</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Higuain.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>G. Higuain</td>
                            <td rowspan="2">31</td>
                            <td rowspan="2">35,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Varf</td>
                        </tr>

                        <tr>
                            <td class="surplus" rowspan="2">17</td>
                            <td rowspan="2"><img src="/resurse/imagini/faces/Mandzukic.png" alt="Fata" title="Fata lui" class="fata" /></td>
                            <td>M. Mandzukic</td>
                            <td rowspan="2">33</td>
                            <td rowspan="2">10,00 mil. &euro;</td>
                        </tr>
                        <tr>
                            <td class="surplus">Varf</td>
                        </tr>
                    </tbody>
                </table>
        </main>

        <%- include("../fragmente/footer") %>
    </body>
</html>
