<!DOCTYPE html>

<html lang="ro" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Logout</title>

    <meta charset="utf-8" />
    <meta name="author" content="Florin Nacu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/resurse/favicon/juvefavicon.ico"
    />
    <link
      rel="stylesheet"
      href="/resurse/css/inregistrareStyle.css"
      type="text/css"
    />
  </head>

  <body>
    <div>
      <h1>V-ati deconectat...</h1>
      <a href ="index" id="acasa">Acasa</a>
    </div>
  </body>
</html>