<!DOCTYPE html>

<html lang="ro" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Juventus - Palmares</title>

    <meta charset="utf-8" />
    <meta name="keywords" content="Juventus, Torino, Italia, fotbal, titlu, ani, Scudetto, Uefa Champions League, Uefa Cup" />
    <meta name="description" content="Palmaresul echipei de fotbal Juventus Torino" />
    <meta name="author" content="Florin Nacu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/x-icon" href="/resurse/favicon/juvefavicon.ico" />
    <link rel="stylesheet" href="/resurse/css/generalStyle.css" type="text/css" />
    <link rel="stylesheet" href="/resurse/css/meniuStyle.css" type="text/css" />
    <link rel="stylesheet" href="/resurse/css/palmaresStyle.css" type="text/css" />
</head>

<body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Titluri Castigate</h2>
            <a href="#t1">Scudetto</a>
            <a href="#t2">Uefa Champions League</a>
            <a href="#t3">Coppa Italia</a>
            <a href="#t4">International Cup</a>
            <a href="#t5">Uefa Cup</a>
            <a href="#t6">Uefa Super Cup</a>
            <a href="#t7">Uefa Cup Winners Cup</a>
            <a href="#t8">Intertoto Cup</a>
            <a href="#t9">Italian Super Cup</a>
        </section>

        <div>
            <article id="t1">
                <h2>Scudetto</h2>
                <figure>
                    <img src="/resurse/imagini/Palmares/scudetto.png" alt="titlu" title="titlu" class="titlu" />
                </figure>
                <p>Numar: 37</p>
                <p>Anii in care s-au obtinut: 1906, 1926, 1931, 1932, 1933, 1934, 1935, 1950, 1952, 1958, 1960, 1961, 1967, 1972, 1973, 1975, 1977, 1978, 1981, 1982, 1984, 1986, 1995, 1997, 1998, 2002, 2003, 2005, 2006, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019</p>
            </article>

            <article id="t2">
                <h2>Uefa Champions League</h2>
                <figure>
                    <img src="/resurse/imagini/Palmares/UCL.png" alt="titlu" title="titlu" class="titlu" />
                </figure>
                <p>Numar: 2</p>
                <p>Anii in care s-au obtinut: 1985, 1996</p>
            </article>

            <article id="t3">
                <h2>Coppa Italia</h2>
                <figure>
                    <img src="/resurse/imagini/Palmares/coppa_italia.png" alt="titlu" title="titlu" class="titlu" />
                </figure>
                <p>Numar: 13</p>
                <p>Anii in care s-au obtinut: 1938, 1942, 1959, 1960, 1965, 1979, 1983, 1990, 1995, 2015, 2016, 2017, 2018</p>
            </article>
        </div>

        <div>
            <article id="t4">
                <h2>International Cup</h2>
                <figure>
                    <img src="/resurse/imagini/Palmares/international_cup.png" alt="titlu" title="titlu" class="titlu" />
                </figure>
                <p>Numar: 2</p>
                <p>Anii in care s-au obtinut: 1985, 1996</p>
            </article>

            <article id="t5">
                <h2>Uefa Cup</h2>
                <figure>
                    <img src="/resurse/imagini/Palmares/UEL.png" alt="titlu" title="titlu" class="titlu" />
                </figure>
                <p>Numar: 3</p>
                <p>Anii in care s-au obtinut: 1977, 1990, 1993</p>
            </article>

            <article id="t6">
                <h2>Uefa Super Cup</h2>
                <figure>
                    <img src="/resurse/imagini/Palmares/USC.png" alt="titlu" title="titlu" class="titlu" />
                </figure>
                <p>Numar: 2</p>
                <p>Anii in care s-au obtinut: 1984, 1996</p>
            </article>
        </div>

        <div>
            <article id="t7">
                <h2>Uefa Cup Winners Cup</h2>
                <figure>
                    <img src="/resurse/imagini/Palmares/UCWC.png" alt="titlu" title="titlu" class="titlu" />
                </figure>
                <p>Numar: 1</p>
                <p>Anul in care s-a obtinut: 1984</p>
            </article>

            <article id="t8">
                <h2>Intertoto Cup</h2>
                <figure>
                    <img src="/resurse/imagini/Palmares/intertoto.png" alt="titlu" title="titlu" class="titlu" />
                </figure>
                <p>Numar: 1</p>
                <p>Anul in care s-a obtinut: 1999</p>
            </article>

            <article id="t9">
                <h2>Italian Super Cup</h2>
                <figure>
                    <img src="/resurse/imagini/Palmares/supercup.png" alt="titlu" title="titlu" class="titlu" />
                </figure>
                <p>Numar: 8</p>
                <p>Anii in care s-a obtinut: 1995, 1997, 2002, 2003, 2012, 2013, 2015, 2018</p>
            </article>
        </div>
    </main>

    <%- include("../fragmente/footer") %>
</body>
</html>
