<!DOCTYPE html>

<html lang="ro" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Juventus - Stadion</title>

    <meta charset="utf-8" />
    <meta name="keywords" content="Juventus, Torino, Italia, fotbal, imagini, informatii, denumire, capacitate, amplasare" />
    <meta name="description" content="Stadionul echipei de fotbal Juventus Torino" />
    <meta name="author" content="Florin Nacu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/x-icon" href="/resurse/favicon/juvefavicon.ico" />
    <link rel="stylesheet" href="/resurse/css/generalStyle.css" type="text/css" />
    <link rel="stylesheet" href="/resurse/css/meniuStyle.css" type="text/css" />
    <link rel="stylesheet" href="/resurse/css/stadionStyle.css" type="text/css" />
</head>

<body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Galerie de imagini</h2>

                <figure>
                    <a target="_blank" href="imagini/stadion/stadion1.jpg">
                        <img src="/resurse/imagini/stadion/stadion1.jpg" alt="Stadion" title="Stadion" />
                    </a>
                </figure>

                <figure>
                    <a target="_blank" href="imagini/stadion/stadion2.jpg">
                        <img src="/resurse/imagini/stadion/stadion2.jpg" alt="Stadion" title="Stadion" />
                    </a>
                </figure>

                <figure>
                    <a target="_blank" href="imagini/stadion/stadion3.jpg">
                        <img src="/resurse/imagini/stadion/stadion3.jpg" alt="Stadion" title="Stadion" />
                    </a>
                </figure>
            
                <figure>
                    <a target="_blank" href="imagini/stadion/stadion4.jpg">
                        <img src="/resurse/imagini/stadion/stadion4.jpg" alt="Stadion" title="Stadion" />
                    </a>
                </figure>

                <figure>
                    <a target="_blank" href="imagini/stadion/stadion5.jpg">
                        <img src="/resurse/imagini/stadion/stadion5.jpg" alt="Stadion" title="Stadion" />
                    </a>
                </figure>

                <figure>
                    <a target="_blank" href="imagini/stadion/stadion6.jpg">
                        <img src="/resurse/imagini/stadion/stadion6.jpg" alt="Stadion" title="Stadion" />
                    </a>
                </figure>
        </section>

        <section>
            <h2>Informatii</h2>
            <p><b>Amplasare:</b> Torino, Italia</p>
            <p><b>Denumire:</b> Juventus Stadium</p>
            <p><b>Foste nume:</b> Stadio delle Alpi</p>
            <p><b>Construit:</b> 2009 - 2011</p>
            <p><b>Deschis:</b> 8 septembrie 2011</p>
            <p><b>Proprietar:</b> Juventus FC</p>
            <p><b>Cost Constructie:</b> 105 mil.E</p>
            <p><b>Capacitate:</b> 41.254</p>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
</body>
</html>
